<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjj.springbootdemo.mapper.UserMapper">

<!--    <resultMap id="BaseResultMap" type="com.gjj.springbootdemo.entity.User">-->
<!--            <id property="uid" column="uid" jdbcType="INTEGER"/>-->
<!--            <result property="account" column="account" jdbcType="VARCHAR"/>-->
<!--            <result property="password" column="password" jdbcType="VARCHAR"/>-->
<!--            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>-->
<!--            <result property="name" column="name" jdbcType="VARCHAR"/>-->
<!--            <result property="role" column="role" jdbcType="VARCHAR"/>-->
<!--            <result property="phone" column="phone" jdbcType="VARCHAR"/>-->
<!--            <result property="purse" column="purse" jdbcType="DECIMAL"/>-->
<!--            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>-->
<!--            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>-->
<!--    </resultMap>-->

<!--    <sql id="Base_Column_List">-->
<!--        user_id,account,password,-->
<!--        avatar,name,role,-->
<!--        phone,purse,create_time,-->
<!--        update_time-->
<!--    </sql>-->

    <delete id="deleteBatchById" parameterType="list">
        DELETE FROM user WHERE uid IN
        <foreach item="userId" collection="list" index="index" open="("
                 separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>
